Source: lliurex-moodle
Section: web
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Build-Depends: debhelper (>= 7), po-debconf
Standards-Version: 3.9.3

Package: lliurex-moodle
Architecture: all
Depends: lliurex-sgbd, php7.0-cli, php7.0-xmlrpc, unzip, zip, aspell, php7.0-ldap, python-mysqldb, python-bcrypt, moodle, python, python-support (>= 0.90), ${misc:Depends}
Conflicts: lliurex-moodle2
Description: LliureX moodle configurator
 This package configures moodle 
 to integrate it on LliureX environment
